// ************ LINK SECTION ************
.useful_links {
    background-color: $section_bg;
    .innerbox {
        // inner container till 960px expansion
        h3 {
            @extend %title;
        }
        p {
            @extend %padding_p;
        }
        // link boxes
        a {
            text-decoration: none;
            @extend %img_hover;
        }
        // content box containing link section's inner elements
        .useful_links_content {
            width: 100%;
            margin: 0;
            padding: 0 10px;
            //grid sistem, with media queries for different layout for different screen sizes
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-row-gap: 20px;
            grid-template-columns: auto;
            grid-template-areas: "timetable" "luggage" "faq" "checkin" "assistance";
            // Small devices (portrait tablets and large phones, 600px and up)
            @media only screen and (min-width: 600px) {
                padding: 0 20px;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "timetable luggage faq" "checkin assistance .";
                grid-column-gap: 20px;
            }
            // Medium devices (landscape tablets, 768px and up)
            @media only screen and (min-width: 768px) {
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: "timetable luggage faq checkin assistance";
            }
            // Delete side space from content box from 960px onwards
            @media only screen and (min-width: 960px) {
                padding: 0;
            }
            // each "card" element
            .link-item {
                background-color: #fff;
                color: $uoc_dark;
                @extend %disp_flex;
                flex-direction: column;
                @include box_shadow(0 1px 1px 0 rgba(0, 0, 0, 0.4));
                // name for each element to position in grid
                &:first-child {
                    grid-area: "timetable";
                }
                &:nth-child(2) {
                    grid-area: "luggage";
                }
                &:nth-child(3) {
                    grid-area: "faq";
                }
                &:nth-child(4) {
                    grid-area: "checkin";
                }
                &:last-child {
                    grid-area: "assistance";
                }
                // icon
                .icono {
                    width: 20px;
                    height: 20px;
                    margin: 10px 0;
                }
                // text
                span {
                    text-align: center;
                    width: 125px;
                    font: {
                        size: 14px;
                        weight: 500;
                    }
                }
                // horitzontal line
                hr {
                    margin-top: 10px;
                    width: 50px;
                    border-top: 2px solid $uoc_clar;
                }
            }
        }
    }
}
